@model Webaplikation2.Models.ClassMessage;

<p>This in adress of Object : @Model._hashCodeOfObject  of @Model._nameOfInstanceObject</p>

 <br>
 <div>
     <a href="@Url.Content("~/")Singleton/FirstInstance">First Instance</a> <br>
         <a href="@Url.Content("~/")Singleton/SecondInstance">Second Instance</a> <br>
             <a href="@Url.Content("~/")Singleton/ThirdInstance">Third Instance</a> <br>
 </div>
